/* || General Styles */
body {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    margin-right: 50px;
    margin-left: 50px;
    justify-content: center;
}

h1 {
    font-weight: bold;
    font-size: 4rem;
    
}