/* || General Styles */
body {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    margin-right: 80px;
    margin-left: 80px;
    justify-content: center;
}

h1 {
    font-weight: bold;
    font-size: 4rem;
}

/* || Photo Grid Styles */

.photo-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    grid-auto-rows: minmax(100px, auto);
}

/* .photo-grid > div {
    
    
} */

img {
    max-width: 100%;
    border-radius: 10px;
}