/* || General styles */
body {
    background-image: url("../Challenge01/images/flower-background.jpg");
    background-size: cover;
    background-color: #232932;
    color:#FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    margin-right: 30px;
    margin-left: 30px;
}

  a {
    outline: none;
    text-decoration: none;
    padding: .5em 1em;
  }

  a:link {
    color: #ffffff;
  }
  
  a:visited {
    color: #c3c3c3;
  }
  
  a:hover {
    border-bottom: 1px solid #c3c3c3;
    /* background: #CDFEAA; */
  }
  
  a:active {
    /* background: #265301; */
    color: blue;
  }

/* || Navigation */

.navigation {
    display: flex;
    /* flex-wrap: nowrap;  */
    height: 5vw;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: sticky;
    font-weight: bold;
    font-size: 2.5rem;
}

.logo {
    /* position: relative;
    top: 25px;
    right: -40px; */
    color:darkgoldenrod;
    float: left;
}

ul {
  align-items: center;
  padding: 10px;
}

/* || Button */

button {
  background-color: darkgoldenrod;
  height: 3vw;
  width: 10vw;
  border-radius: 10px;
  padding: 10px, 30px;
  font-size: 1.5rem;
  border: none;
}

/* || Content */

.content {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  max-width: 30%;
  font-family: 'Poppins', sans-serif;
}

h1 {
  text-shadow: 3px 3px 3px #8f8f8f;
  font-size: 4rem;
  font-family: 'Open Sans', sans-serif;
}